<html>
<head>
    <title>Ina's Blog</title>
</head>
<body>
    <h1>The Day I learned Django</h1>
    <h2>How Django changed my life</h2>
    <p>Hi there!</p>
    <p>Django is awesome and I created a website. Pretty awesome too! For me at least.<br>
    <em>AND, there will be a blog coming soon.</em></p>
    <ul><li>First things first</li><li>Then more great things to come</li></ul>
    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
</body>
</html>